html {
    border: 0;
    cursor: default;
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body {
    border: 0;
    cursor: default;
    width: 100%;
    padding: 0;
    margin: 0;
}

.mainCONT *{
    box-sizing: border-box;
}

.RooT {
    font-family: 'Montserrat', sans-serif;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TechSupport {
    display: none;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    min-width: 280px;
    width: 90%;
    max-width: 715px;
    border-radius: 10px;
}

.TechSupport_text {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.TechSupport_little {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}


.errorMessageFetch{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    background: #EA6075;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #EA6075;
    max-width: 360px;
    width: 80%;
    min-width: 240px;
    animation: 5s linear disappearError;
    opacity: 0;
}

@keyframes disappearError {
    0%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.progressBarr {
    width: 380px;
    height: 140px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    bottom: 0;
    background: white;
    margin-top: 20px;
    padding: 15px 15px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    position: sticky;
}

.progressBarr__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.progressBarr__main__pos{
    display: flex;
    justify-content: space-between;
}

.progressBarr__row__item {
    width: 48%;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black !important;
    text-decoration: 1px solid underline black !important;
}

.progressBarr__row__item__circ {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background: #E1E1E1;
    margin-right: 3px;
    transition: .3s linear all;
}

.progressBarr__row__item__circ__process {
    background: #9281FF;
}

.progressBarr__row__item__circ__done {
    background: #42CA3F;
}

.progressBarr__next {
    border-radius: 50px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 15px;
    background: #000000;
    color: white !important;
    border: 1px solid #000000;
    cursor: pointer;
    transition: .3s linear all;
    text-decoration: none;
}

.progressBarr__next:hover {
    background: white;
    color: #000000 !important;
}

.progressBarr__percent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}

.progressBarr__percent__val {
    position: relative;
}

.progressBarr__percent__cif {
    position: absolute;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -50%);
}

.progressBarr__progSVG g path{
    animation: .3s linear appEAR;
}

@keyframes appEAR {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 400px){
    .progressBarr{
        width: 300px;
        height: 180px;
    }

    .progressBarr__progSVG{
        height: 40px;
    }

    .progressBarr__main__pos{
        display: block;
    }

    .progressBarr__row__item{
        margin-bottom: 5px;
    }

}

.FimboSize__img__item__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FimboContainer {
    display: flex;
    flex-wrap: wrap;
    width: 1080px;
    margin-top: 50px;
}

.FimboContainer__item {
    border-radius: 20px;
    background: #F3F3F3;
    width: 250px;
    margin: 0 10px 10px;
    position: relative;
}

.FimboContainer__item__name {
    padding: 15px 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FimboContainer__item__name_a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.FimboContainer__item__name_text{
    color: black;
    transition: .3s linear all;
}

.FimboContainer__item__name_text:hover{
    text-decoration: 1px solid underline;
    color: rgb(72, 72, 72);
}

.FimboContainer__item__tracks {
    overflow-y: scroll;
    max-height: 105px;
    overflow-x: hidden;
}

.FimboContainer__item__tracks::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
}

.FimboContainer__item__tracks::-webkit-scrollbar-thumb {
    background-color: #838383;
    border-radius: 20px;
}

.FimboContainer__item__tracks__item {
    display: flex;
    padding: 5px 14px;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
    transition: .3s linear all;
    width: calc(100%);
}

.FimboContainer__item__tracks__item:hover {
    background: rgba(230, 230, 230, 1);
}

.FimboContainer__item__tracks__item__name {
    font-weight: 300;
    font-size: 14px;
    margin-left: 10px;
}

.FimboContainer__item__tracks__item__name__img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    object-fit: cover;
}

.FimboContainer__item__tracks__item__playing {
    background: rgba(217, 217, 217, 1);
}

.FimboContainer__item__tracks__item__playing:hover {
    background: rgba(205, 205, 205, 1);
}

.FimboContainer__item__ImgС {
    margin-top: 20px;
    line-height: 0;
    position: relative;
    padding: 0 20px;
    width: 100%;
}

.FimboContainer__item__img {
    object-fit: cover;
    width: 100%;
}

.playPanel__play:hover, .FimboContainer__item__basket:hover, .FimboContainer__item__volume:hover, .FimboContainer__item__like:hover {
    box-shadow: 0 0 15px #6CBCDF,
    0 0 #6CBCDF inset;
}

.playPanel__play:active, .FimboContainer__item__basket:active, .FimboContainer__item__volume:active, .FimboContainer__item__like:active {
    box-shadow: 0 0 0 #9ECCE0,
    0 0 10px #9ECCE0 inset;
}

.playPanel{
    width: 300px;
    height: 130px;
    background: white;
    border-radius: 20px;
    padding: 10px 20px 5px;
    position: sticky;
    bottom: 140px;
    margin: 20px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.playPanel__pos {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playPanel__trackName__container{
    height: 20px;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    white-space: nowrap;
}

.playPanel__trackName{
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    position: relative;
}


@keyframes marquee {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-50%);
    }
    80% {
        transform: translateX(calc(-100% - 5px));
    }
    100% {
        transform: translateX(calc(-100% - 5px));
    }
}

.playPanel__play {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-in-out all;
    box-shadow: 0 0 10px #9ECCE0,
    0 0 #9ECCE0 inset;
}

.playPanel__next {
    margin-left: 15px;
    cursor: pointer;
}

.playPanel__prev {
    margin-right: 15px;
    cursor: pointer;
}

.FimboContainer__item__like {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-in-out all;
    box-shadow: 0 0 10px #9ECCE0,
    0 0 #9ECCE0 inset;
}

.FimboContainer__item__like path{
    transition: .3s ease-in-out all;
}

.button__like__active path{
    fill: #EA6075;
    stroke: #EA6075;
}


.FimboContainer__item__basket, .FimboContainer__item__volume {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-in-out all;
    box-shadow: 0 0 10px #9ECCE0,
    0 0 #9ECCE0 inset;
}

.FimboContainer__item__pos__cont {
    width: 100%;
    padding: 0 20px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.FimboContainer__item__sliderTime {
    position: relative;
}

.FimboContainer__item__curTime, .FimboContainer__item__comTime {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    color: #9ECCE0
}

.FimboContainer__item__curTime {
    left: 0;
}

.FimboContainer__item__comTime {
    right: 0;
}

.FimboContainer__item__slider__parent {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.FimboContainer__item__slider__progCont {
    position: relative;
    width: 100%;
    background: #DDE8EC;
    height: 4px;
    border-radius: 10px;
    box-sizing: border-box;
}

.FimboContainer__item__slider__prog {
    position: absolute;
    width: 0;
    height: 4px;
    border-radius: 10px;
    background: #9ECCE0;
    transition: all .2s linear;
}

.FimboContainer__item__slider__circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #6CBCDF;
    top: -4px;
    right: -6px;
    padding: 5px;
    transition: .3s ease-in-out all;
}

.volumeContainer {
    position: absolute;
    bottom: 56px;
    left: 20px;
}

.volume__ParentContainer {
    width: 30px;
    height: 0;
    transition: .15s ease-in-out all;
    background: white;
    box-shadow: 0 0 10px #9ECCE0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume__ShellParent {
    box-sizing: content-box;
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    cursor: pointer;
    padding: 0 6px;
}

.volume__ProgressContainer {
    position: relative;
    background: #DDE8EC;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.volume__Progress {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #9ECCE0;
    bottom: 0;
    border-radius: 5px;
}

.volume__circle {
    transition: .15s ease-in-out all;
    width: 12px;
    height: 0;
    border-radius: 50px;
    background: #6CBCDF;
    position: absolute;
    top: -6px;
    right: -2px;
}

.ElementActive {
    box-shadow: 0 0 0 #9ECCE0,
    0 0 10px #9ECCE0 inset;
}

.ElementActive:hover {
    box-shadow: 0 0 0 #6CBCDF,
    0 0 10px #6CBCDF inset;
}

.ElementActive:active {
    box-shadow: 0 0 0 #4BA6CD,
    0 0 15px #4BA6CD inset
}

.volumeContainerAfter {
    height: 140px;
    margin-bottom: 5px;
}

.volumeContainerAfterGo {
    height: 0;
    margin-top: 0;
}

.BigZIndex {
    z-index: 10001;
}

.nameOfPageC {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: black;
    margin: 0;
    text-decoration: none;
    padding: 0 10px;
}

.LLoader, .BackForMode {
    height: 150vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.BackForMode {
    background: none;
    left: 50%;
    bottom: -20px;
    top: auto;
    transform: translateX(-50%);
}

.spinner {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
}

.spinner .path {
    stroke: black;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.pointNo {
    pointer-events: none;
}

.notrans {
    transition: none !important;
}


@media screen and (max-width: 1200px) {
    .FimboContainer__item {
        width: 220px;
        margin: 0 5px 10px;
    }

    .FimboContainer {
        width: 920px;
    }

}

@media screen and (max-width: 980px) {
    .RooT {
        margin-top: 0;
    }
    .nameOfPageC {
        margin-top: 20px;
        font-size: 30px;
    }

}

@media screen and (max-width: 960px) {

    .FimboContainer__item {
        width: 250px;
    }

    .FimboContainer{
        width: 520px;
        margin-top: 30px;
    }

}

@media screen and (max-width: 640px) {

    .FimboContainer__item__tracks {
        max-height: 95px;
    }

    .FimboContainer__item__tracks__item{
        padding: 3px 6px;
    }

    .FimboContainer{
        width: 100%;
        justify-content: center;
    }

    .nameOfPageC {
        font-size: 24px;
    }

    .FimboContainer__item__name {
        padding: 12px 8px 5px;
    }

    .FimboContainer__item__tracks__item__name {
        font-size: 12px;
    }

    .FimboContainer__item__pos__cont {
        padding: 0 12px;
    }

    .FimboContainer__item__ImgС {
        padding: 0 12px;
    }

    .FimboContainer__item__img {
        max-height: 100px;
        object-fit: contain;
    }

    .FimboContainer__item {
        width: calc(50% - 10px);
        max-width: 220px;
    }
}

@media screen and (max-width: 400px) {
    .playPanel{
        bottom: 180px;
    }
}

